@tailwind base;
@tailwind components;
@tailwind utilities;

body {

    margin: 0;
}

#check{
    display: none;
}

.checkbt{
    display: none;
}

.li-bar{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.item-list-top{
    width: 100%;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
}
.item-list-botton{
    width: 100%;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
    /*border-top-width: 1px;*/
    /*border-color: black;*/
}
.item-list{
    width: 100%;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;


}
@media (max-width: 768px) {
    .li-bar{
        background: linear-gradient(to right, #4f46e5, #ec4899);
        align-items: center;
        flex-direction: column;
        position: fixed;
        top:50px;
        width: 150px;
        left: 230px;

    }
    .item-list{
        width: 100%;
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity));
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.5rem;
        border-top-width: 1px;
        border-color: black;
    }
    .item-list-top{
        width: 100%;
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity));
    }
    .item-list-botton{
        width: 100%;
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity));
        border-top-width: 1px;
        border-color: black;
    }
    .checkbt{
        justify-content: center;
        width: 100%;
        display: flex;
    }
    #check:checked ~ .li-bar{
        display: none;
    }
    
}
.container-element{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media  (max-width: 760px){
    .container-element{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.container-element-product{
    display: flex;
    align-items: center;
    flex-direction: row; /* Mặc định là hàng ngang (flex row) */
    flex-wrap: wrap; /* Cho phép các phần tử con xuống dòng khi không đủ chỗ */
    justify-content: center;


}
/* Sử dụng media query để thay đổi cách hiển thị trên màn hình nhỏ (điện thoại) */
@media  {
    .container-element-product {

        display: flex;
        flex-direction: row; /* Chuyển sang hàng dọc (flex column) trên màn hình nhỏ */
        justify-content: center;
        align-items: center;
    }
}

.element-product {
    margin: 20px;
    border-width: 1px;
    border-color: rgb(75 85 99 / 1); /* border-color with opacity 1 */
    overflow: auto;
    width: 420px;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05),
    0 10px 15px -3px rgba(79, 70, 229, 0.75),
    0 4px 6px -2px rgba(79, 70, 229, 0.75); /* shadow-lg combined with shadow-indigo-600 */
}
@media  (max-width: 760px){
    .element-product{
        margin: 0;
        border-width: 1px;
        border-color: rgb(75 85 99 / 1); /* border-color with opacity 1 */
        overflow: auto;
        width: 290px;
        height: 290px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 0.5rem;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05),
        0 10px 15px -3px rgba(79, 70, 229, 0.75),
        0 4px 6px -2px rgba(79, 70, 229, 0.75); /* shadow-lg combined with shadow-indigo-600 */
    }

}

.button-element-product {
    border-radius: 20px;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    width: 100%;
}
@media  (max-width: 760px){
    .button-element-product{
        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
        width: 100%;
        margin: 0;

    }

}


.button-element-product:hover {
    transform: translateY(-0.25rem) scale(1.05);
    box-shadow: 0 25px 50px -12px rgba(79, 70, 229, 0.75); /* shadow-2xl */
    --tw-shadow-colored: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(79, 70, 229, 0.75); /* shadow-indigo-600 */
}
.wrapper-product{
    margin: 2.5rem;
}
@media (max-width: 768px) {
    .wrapper-product{
        margin-top: 2.5rem;
    }

}

.flag {
    width: 30px;
    height: auto;
}

.aboutmeitem{
    flex-direction: column;
    align-items: center;
    width: 12rem;
    margin: 1.25rem

}

@media (max-width:768px) {
    .aboutmeitem{
        flex-direction: column;
        align-items: center;
        width: 12rem;
        margin-top: 8rem;

    }

}


